:root {
  --sizem: 100%; }

.gridx {
  padding: 20px; }

.m-recomendaciones .titulo-recomendaciones {
  text-align: center;
  padding: 0px 0px 30px 0px; }

* {
  margin: 0px;
  padding: 0px; }

*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html {
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

header {
  width: 100%;
  background-color: #ffffff; }

/*========= Header main ===================== */
.m-header {
  margin: 0px;
  padding: 0px; }
  .m-header .ls {
    padding-bottom: 10px;
    padding-top: 4px; }
    .m-header .ls .logo {
      display: block;
      max-width: 300px;
      min-width: 300px;
      height: auto; }
      .m-header .ls .logo img {
        width: 90%;
        display: block;
        vertical-align: top; }
        .m-header .ls .logo img:hover {
          filter: alpha(opacity=80);
          -moz-opacity: 1;
          opacity: calc(80 / 100);
          -khml-opacity: 1;
          transition: 0.5s ease;
          background-color: "#ffffff"; }

.m-header .sm {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px; }
  .m-header .sm .ubicacion {
    text-align: center;
    width: 100%;
    font-family: "Oswald", sans-serif;
    margin-bottom: 5px; }
    .m-header .sm .ubicacion .icon {
      color: #b20013;
      margin-right: 5px; }
    .m-header .sm .ubicacion .search {
      width: 100%;
      margin: 0px auto;
      padding-top: 5px; }
      .m-header .sm .ubicacion .search .searchbar {
        text-align: center; }

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  box-sizing: border-box;
  padding: 7px 10px;
  color: #333333;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #b20013;
  font-weight: 300; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus {
    color: #009FFF;
    border: 1px solid #46b271; }

textarea {
  box-sizing: border-box;
  padding: 7px 10px;
  color: #b20013;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #b20013;
  font-weight: 300; }

input[type="submit"],
input[type="button"],
button[type="submit"] {
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px;
  color: #b20013;
  font-size: 0.9em;
  background: none;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  cursor: pointer; }
  input[type="submit"]:hover,
  input[type="button"]:hover,
  button[type="submit"]:hover {
    color: #009FFF; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  color: #b20013;
  font-weight: 600; }

.e-menu {
  background-color: #b20013;
  width: 100%;
  padding: 5px; }
  .e-menu .row {
    padding: 0px;
    margin: 0px; }

.navbar-header {
  display: none; }

.navbar-default {
  background-color: #b20013; }
  .navbar-default .navbar-toggle .icon-bar {
    color: #ffffff;
    background-color: #ffffff; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
    color: #b20013; }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      color: #b20013;
      background-color: #b20013; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    background-color: #b20013;
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a li a:focus {
      color: #ffffff;
      background-color: #b20013; }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: #ffffff;
      color: #b20013; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff;
      background-color: transparent; }
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    color: #b20013;
    background-color: #ffffff; }
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: #ffffff;
    color: #b20013; }

.navbar {
  border: none;
  padding: 0px;
  margin: 0px; }

nav {
  padding: 20px;
  width: 100%; }
  nav #cuadro_menu {
    background-color: #b20013; }
    nav #cuadro_menu .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      background-color: #d53132; }
      nav #cuadro_menu .menu li {
        list-style: none;
        margin: 0px;
        padding: 0px;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
        nav #cuadro_menu .menu li a {
          color: #ffffff;
          text-decoration: none;
          padding: 18px 10px 18px 10px;
          display: block; }
          nav #cuadro_menu .menu li a:hover {
            color: #333333;
            transition: 0.5s ease;
            -o-transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            background-color: #ffffff; }
        nav #cuadro_menu .menu li ul {
          display: none;
          background-color: #46b271;
          position: absolute;
          z-index: 900; }
        nav #cuadro_menu .menu li:hover ul {
          display: block; }

/*-- */
.slide {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff; }
  .slide .metaslider {
    box-sizing: border-box;
    margin: 0px auto;
    text-align: center;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%; }
    .slide .metaslider .flexslider {
      padding: 0px;
      margin: 0px;
      background-color: green; }
      .slide .metaslider .flexslider .flex-control-nav {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        bottom: 0px;
        z-index: 100;
        height: auto; }
  .slide .soliloquy-container {
    width: 100%;
    margin: 0px auto; }
  .slide img {
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    vertical-align: top; }

/*======= vien de coverpage.sass */
.m-iparroquial {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 30px;
  width: 100%; }
  .m-iparroquial .titulo-anuncios {
    padding: 10px;
    width: var(--sizem);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px; }
    .m-iparroquial .titulo-anuncios h3 {
      position: relative;
      margin: auto;
      --width: 20%;
      color: #293449;
      font-weight: bold; }
      .m-iparroquial .titulo-anuncios h3::after {
        content: "";
        display: block;
        height: 3px;
        width: calc(var(--width)/2);
        position: absolute;
        left: calc( calc( 100% - ( calc(var(--width)/2)) ) / 2 );
        bottom: -0.8em;
        background-color: #b20013;
        z-index: 100; }

/*=============== cuadro de selecciona tu iglesia ==== */
.m-iparroquial #iglesia {
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center; }
  .m-iparroquial #iglesia #div1 {
    width: calc(var(--sizem)/4);
    min-height: 150px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    box-sizing: border-box; }
    @media screen and (max-width: 600px) {
      .m-iparroquial #iglesia #div1 {
        width: calc(var(--sizem)/2);
        padding: 5px; } }
    .m-iparroquial #iglesia #div1 a {
      color: #293449;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 0px 8px 0px;
      display: block;
      background-color: #ffffff;
      margin: 10px;
      border: 1px solid #ffffff; }
      .m-iparroquial #iglesia #div1 a:hover {
        color: #b20013;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
      .m-iparroquial #iglesia #div1 a span {
        margin-top: 20px;
        display: block; }
      .m-iparroquial #iglesia #div1 a img {
        width: 100%;
        height: 100%;
        background-size: cover; }
        .m-iparroquial #iglesia #div1 a img:hover {
          transition: 0.5s ease;
          opacity: 0.5; }

/*=============================================================== */
.section-bienvenida {
  width: var(--sizem);
  padding: 20px; }
  .section-bienvenida .texto-bienvenida {
    text-align: center; }
  .section-bienvenida .i-bienvenida {
    padding: 10px;
    width: var(--sizem);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px; }
    .section-bienvenida .i-bienvenida h3 {
      position: relative;
      margin: auto;
      --width: 20%;
      color: #293449;
      font-weight: bold; }
      .section-bienvenida .i-bienvenida h3::after {
        content: "";
        display: block;
        height: 3px;
        width: calc(var(--width)/2);
        position: absolute;
        left: calc( calc( 100% - ( calc(var(--width)/2)) ) / 2 );
        bottom: -0.8em;
        background-color: #b20013;
        z-index: 100; }

.con-general {
  background-color: #ffffff;
  padding-top: 10px; }
  .con-general .con {
    margin-bottom: 20px; }
    .con-general .con img {
      max-width: 100%;
      height: auto; }
    .con-general .con .alignleft {
      float: left;
      margin: 20px 20px 20px 0px; }
    .con-general .con .alignright {
      float: right;
      margin: 20px 0px 20px 20px; }
    .con-general .con .aligncenter {
      width: 100%;
      height: auto;
      margin: 5px auto; }
    .con-general .con .bread {
      background-color: none;
      padding: 10px;
      color: #ffffff; }
      .con-general .con .bread .mapeo {
        color: #293449; }
        .con-general .con .bread .mapeo span {
          margin-left: 5px;
          margin-right: 5px; }
          .con-general .con .bread .mapeo span a {
            color: #009FFF;
            text-decoration: none;
            transition: 0.5s ease; }
            .con-general .con .bread .mapeo span a:hover {
              color: #46b271; }
  .con-general .side {
    background-color: green; }

/*===================== Entradas recientes cover page ==================== */
.m-entradas-recientes {
  width: var(--sizem);
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box; }
  .m-entradas-recientes .titulo-entradas-reciente {
    padding: 10px;
    width: var(--sizem);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px; }
    .m-entradas-recientes .titulo-entradas-reciente h3 {
      position: relative;
      margin: auto;
      --width: 20%;
      color: #293449;
      font-weight: bold; }
      .m-entradas-recientes .titulo-entradas-reciente h3::after {
        content: "";
        display: block;
        height: 3px;
        width: calc(var(--width)/2);
        position: absolute;
        left: calc( calc( 100% - ( calc(var(--width)/2)) ) / 2 );
        bottom: -0.8em;
        background-color: #b20013;
        z-index: 100; }
  .m-entradas-recientes .listado-entradas {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch; }
    .m-entradas-recientes .listado-entradas .lista {
      width: calc(var(--sizem)/4);
      min-height: 150px;
      text-align: center;
      box-sizing: border-box; }
      .m-entradas-recientes .listado-entradas .lista a {
        color: #293449;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-size: 0.9em;
        text-decoration: none;
        padding: 0px 0px 8px 0px;
        display: block;
        background-color: #ffffff;
        margin: 10px; }
        .m-entradas-recientes .listado-entradas .lista a:hover {
          color: #b20013;
          transition: 0.5s ease;
          -o-transition: 0.5s ease;
          -webkit-transition: 0.5s ease; }
        .m-entradas-recientes .listado-entradas .lista a .texto {
          display: block;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .m-entradas-recientes .listado-entradas .lista a img {
          width: 100%;
          height: 200px;
          background-size: cover; }
          .m-entradas-recientes .listado-entradas .lista a img:hover {
            transition: 0.5s ease;
            opacity: 0.5; }

#totop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  margin-left: 640px;
  overflow: hidden;
  width: 43px;
  height: 28px;
  border: none;
  text-indent: -999px;
  z-index: 20;
  background: url("../images/totop.png") no-repeat left 0;
  transition: 0s ease;
  -o-transition: 0s ease;
  -webkit-transition: 0s ease; }
  #totop:hover {
    outline: none;
    background-position: right 0; }

footer {
  width: 100%;
  background-color: #293449; }
  footer #pie {
    background-color: #293449;
    min-height: 150px; }
    footer #pie .group {
      padding: 50px;
      text-align: center;
      color: #ffffff;
      line-height: 1.5em;
      font-family: "Economica-Bold";
      text-shadow: 1px 2px 1px #000;
      font-size: 1.2em; }
      footer #pie .group a {
        color: #009FFF;
        text-decoration: none; }
        footer #pie .group a:hover {
          color: #f7b32b;
          transition: 0.5s ease; }

/*# sourceMappingURL=estilo.css.map */
