.con-general
  background-color: $blanco
  padding-top: 10px
  .con
    margin-bottom: 20px
    @include imagen100
    .breadcrumb
      @include bread(none,$blanco)
  .side
    background-color: green
